<h1>List of the restaurants</h1>

<% @restaurants.each do |restaurant| %>
<ul>
  <li>
     <p> <%= link_to restaurant.name, restaurant_path(restaurant.id) %> </p>
  </li>
</ul>
<% end %>

<%= link_to "Add a restaurant to the list", new_restaurant_path %>
